@import "/scss/variables";

.links {
    width: 100%;

    padding: 0 5% 0 5%;

    position: relative;

    background-color: $light-gray;

    & .content {
        transform: translateY(-47.5px);
    }

    & .list {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
